<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEE_J</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <header>
        <img src="../assets/00_logo/logo.jpeg" alt="Logo" loading="lazy" />
        <i class="material-icons">&#xe87c;</i>
    </header>
    <main>
        <h1>제목</h1>
    </main>
    <footer>xccx</footer>
</body>
</html>